*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    font-family: Arial, sans-serif;
}
.navi ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navi li a{
    text-decoration: none;
    font-weight: 500;
}
.logo{
    font: size 24px;
}
h3{
    color: rgb(92, 92, 92);
}
h3 span{
    color: black;
}
.container{
    justify-content: flex-end;
    justify-content: space-between;
    display: flex;
    padding: 50px 80px;
    background: rgba(21, 233, 233, 0.425);
}
.uk{
    width: 300px;
}
.text{
    max-width: 50%;
}
.diskon{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial,sans-serif;
}
p span{
    color: red;
}
.promo{
    color: rgba(0, 0, 0, 0.664);
    font-family: Arial, sans-serif;
}
.produk{
    display: flex;
    justify-content:center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 25px;
}
.produk{
    margin: 40px 0 20px;
    padding: 0 80px 50px;
    gap: 50px;
}
.card{
    background: #e7e3e3a6;
    padding: 15px;
    transition: translateY(-5px);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 15px 15px;
    border: 1px solid rgb(148, 146, 146);
}
.card img{
    width: 100%;
    border-radius: 10px;
    height: 400;
}
.nama{
    font-size: 20px;
    margin: 70px 0;
}
.harga{
    text-align: right;
    font-size: 15px;
    text-decoration: line-through;
}
.lama{
    text-align: right;
    color: red;
}
.card:hover{
    background-color: blue;
    color: white;
}
