*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    font-family: Arial, sans-serif;
}
.navi ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navi li a{
    text-decoration: none;
    font-weight: 500;
}
.logo{
    font: size 24px;
}
h3{
    color: rgb(92, 92, 92);
}
h3 span{
    color: black;
}
.container{
    justify-content: flex-end;
    justify-content: space-between;
    display: flex;
    padding: 50px 80px;
    background: rgba(21, 233, 233, 0.425);
}
.uk{
    width: 300px;
}
.text{
    max-width: 50%;
}
p{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial,sans-serif;
}