*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
    font-family: Arial, sans-serif;
}
.navi ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navi li a{
    text-decoration: none;
    font-weight: 500;
}
.logo{
    font: size 24px;
}
h3{
    color: rgb(92, 92, 92);
}
h3 span{
    color: black;
}
.container{
    justify-content: flex-end;
    justify-content: space-between;
    display: flex;
    padding: 50px 80px;
    background: rgba(21, 233, 233, 0.425);
}
.uk{
    width: 300px;
}
.text{
    max-width: 50%;
}
.diskon{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial,sans-serif;
}
p span{
    color: red;
}
.promo{
    color: rgba(0, 0, 0, 0.664);
    font-family: Arial, sans-serif;
}
.produk{
    display: flex;
    justify-content:center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 25px;
}
.produk{
    margin: 40px 0 20px;
    padding: 0 80px 50px;
    gap: 50px;
}
.card{
    background: #e7e3e3a6;
    padding: 15px;
    transition: translateY(-5px);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 15px 15px;
    border: 1px solid rgb(148, 146, 146);
}
.card img{
    width: 100%;
    border-radius: 10px;
    height: 400;
}
.nama{
    font-size: 20px;
    margin: 70px 0;
}
.harga{
    text-align: right;
    font-size: 15px;
    text-decoration: line-through;
}
.lama{
    text-align: right;
    color: red;
}
.card:hover{
    background-color: blue;
    color: white;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background: red;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.kontak{
    background: #000;
    color: #fff;
    padding: 60px 80px;
}
.kontak h2{
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
}
.grup{
    display: flex;
    flex-direction: column;
}
.long button:hover{
    background: darkred;
}
.grup label{
    font-size: 20px;
    margin-bottom: 8px;
}
.grup input,
.long textarea {
    width: 100%;
    padding: 14px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #e0e0e0;
    font-family: Arial, sans-serif;
}
.long{
    grid-column:span 2;
}
.kontak button{
    grid-column: span 2;
    width: 200px;
    margin: 8px auto;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: red;
    font-size: 15px;
    cursor: pointer;
}
